.app {
    height: 100%;
}

.snack {
    display: inline-block;
    position: absolute;
    height: 5rem;
    width: 5rem;
    border: 2px dashed #d9d9d9;
 }

.shopping-cart {
    border: 5px dashed #d9d9d9;
    padding: 5rem 2rem;
    text-align: center;
}